:root {
  --accent-color-1: #A8763E;
  --accent-color-2: #F9EAE1;
  --background-color: #F7F3E3;
  --button-base-background-color: var(--accent-color-2);
  --button-base-border-color: var(--accent-color-1);
  --button-base-color: var(--accent-color-1);
  --button-border-radius: 0.7rem;
  --button-height: 2rem;
  --button-hover-background-color: var(--accent-color-1);
  --button-hover-border-color: var(--accent-color-2);
  --button-hover-color: var(--accent-color-2);
  --button-width: 3.5rem;
  --headline-color: #112;
  --text-color: #112;
  --title-color: #112;
}

.elephant-button {
  background: var(--button-base-background-color);
  border: 1px solid var(--button-base-border-color);
  border-radius: var(--button-border-radius);
  height: var(--button-height);
  margin: 0;
  width: var(--button-width);
  position: relative;
}

.elephant-button:hover {
  background: var(--button-hover-background-color);
  border: 1px solid var(--button-hover-border-color);
}

.elephant-button:after {
  background: var(--button-base-color);
  content: "";
  height: 100%;
  left: 0;
  margin: 0;
  mask-image: url("data:image/svg+xml;utf8,%3Csvg%20height%3D%22800%22%20width%3D%22800%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M510.909%20157.835c-6.323-38.097-41.228-48.606-54.55-57.191-13.329-8.584.02-26.665-9.502-26.672-9.53-.014-16.184-7.64-18.08-13.35-1.904-5.723-8.571-3.82-12.391%207.606-3.82%2011.425-4.689%2043.324%2029.464%2060.024%2039.028%2019.087%2034.553%2060.032%207.888%2061.28-33.525%201.572-39.352-21.652-51.716-44.524-12.357-22.866-39-35.277-59.963-33.388-7.675.689-19.962%202.655-32.45%204.875-18.342%203.386-43.745%208.385-43.745%208.385-7.612-8.578-20.934-21.921-47.606-16.239-14.694%203.137-37.222%2012.963-48.902%2036.78-2.772%207.592-4.468%2016.576-4.468%2027.313%200%2014.218%202.979%2031.478%2010.399%2052.309%207.309%2020.486%2018.555%2034.697%2031.422%2043.889%2012.874%209.185%2027.464%2013.364%2041.586%2013.364%2012.157%200%2023.941-3.118%2033.836-8.785%209.902-5.668%2017.894-13.826%2022.706-23.961%203.214-6.764%205.034-14.426%205.048-22.983%200-1.034-.034-2.096-.082-3.158l10.542-.531c.062%201.234.09%202.468.09%203.689.014%2010.068-2.172%2019.348-6.054%2027.519-3.889%208.172-9.46%2015.226-16.163%2020.97-13.418%2011.488-31.318%2017.797-49.923%2017.804-16.204%200-32.988-4.82-47.716-15.328-14.735-10.502-27.319-26.672-35.235-48.944-7.737-21.714-11.02-40.159-11.02-55.852%200-7.123.69-13.66%201.938-19.68C85.171%20164.889%2050.914%20219.694%2044.116%20274.41c-10.901%2014.763-29.506%2035.925-40.304%2044.572-12.915%2010.315%208.55%2017.404%2040.876%201.234-.097-.855-.172-1.73.096-.034A16659.558%2016659.558%200%200%200%2066.56%20454.504h84.497s8.578-39.138%2012.674-52.812c12.681-42.248%2052.819-33.27%2056.281%204.2%201.034%2011.143%204.985%2048.612%204.985%2048.612h80.27l32.781-124.8s9.998-31.519%2029.568-44.73c13.39-9.047%2041.897-1.862%2046.668-4.717%204.758-2.854-7.799-15.97-14.266-21.914-8.564-7.916-18.363-23.83.345-20.617%2013.515%202.324%2033.974%203.758%2046.13%202.192%2057.204-6.219%2069.664-50.343%2064.416-82.083z%22%20style%3D%22fill%3A%23000%22%2F%3E%3C%2Fsvg%3E");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  position: absolute;
  top: 0;
  width: 100%;
}

.elephant-button:hover:after {
  background: var(--button-hover-color);
}


.play-button {
  background: var(--button-base-background-color);
  border: 1px solid var(--button-base-border-color);
  border-radius: var(--button-border-radius);
  height: var(--button-height);
  margin: 0;
  width: var(--button-width);
  position: relative;
}

.play-button:hover {
  background: var(--button-hover-background-color);
  border: 1px solid var(--button-hover-border-color);
}

.play-button:after {
  background: var(--button-base-color);
  content: "";
  height: 100%;
  left: 0;
  margin: 0;
  mask-image: url("data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20width%3D%2240px%22%20height%3D%2240px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20color%3D%22%23000000%22%20stroke-width%3D%222%22%3E%3Cpath%20d%3D%22M6.90588%204.53682C6.50592%204.2998%206%204.58808%206%205.05299V18.947C6%2019.4119%206.50592%2019.7002%206.90588%2019.4632L18.629%2012.5162C19.0211%2012.2838%2019.0211%2011.7162%2018.629%2011.4838L6.90588%204.53682Z%22%20fill%3D%22%23000000%22%20stroke%3D%22%23000000%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  position: absolute;
  top: 0;
  width: 100%;
}

.play-button:hover:after {
  background: var(--button-hover-color);
}

